/* ===== CARD ===== */
.card {
  width: 100%;
  /* height: 7.5rem; */
  height: auto;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  aspect-ratio: 3 / 4;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

/* ===== CARD SIDES ===== */
.front,
.back {
  position: absolute;
  inset: 0;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  backface-visibility: hidden;
}

/* ===== FRONT (IMAGE SIDE) ===== */
.front {
  background-color: white;
  transform: rotateY(180deg);
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ===== BACK (PATTERN SIDE) ===== */
.back {
  background-image: url("https://i.ibb.co/HpqwJpbP/d4ec0eb570cca4882bf54bd1e8c5a7be.jpg");
  background-size: cover;
  background-position: center;
}

/* ===== FLIP EFFECT ===== */
.card.flipped {
  transform: rotateY(180deg);
}
