.center-div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-row-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none !important;
}
