/* ===== GRID RESPONSIVE CONTAINER ===== */
.grid-container {
  width: max-content;
  max-width: 90vw;
  display: grid;
  gap: 10px;
  justify-items: center;
  margin: 0 auto 2rem auto;
}

/* ===== GRID COLUMNS BASED ON THE SIZE OF THE DECK ===== */
.grid-small {
  grid-template-columns: repeat(6, minmax(6rem, 8rem));
}

.grid-medium {
  grid-template-columns: repeat(10, minmax(5rem, 7rem));
}

.grid-large {
  grid-template-columns: repeat(10, minmax(3.5rem, 6rem));
}

/* Make sure cards shrink in size with smaller screen */
@media (max-width: 400px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 4px;
    width: 95%;
  }

  .grid-small {
    grid-template-columns: repeat(4, minmax(6rem, 8rem));
  }

  .grid-medium {
    grid-template-columns: repeat(5, minmax(5rem, 7rem));
  }

  .grid-large {
    grid-template-columns: repeat(7, minmax(4.5rem, 6rem));
  }

  .card {
    width: 100%;
    aspect-ratio: 3 / 4;
    height: auto;
  }
}
